<h3>Add customer</h3>
<form method="post" action="/users/add">
	<label for="firstName">firstName:</label>
	<input type="text" name="firstName"><br>
	<label for="lastName">lastName:</label>
	<input type="text" name="lastName"><br>
	<label for="email">email:</label>
	<input type="email" name="email"><br>
	<input type="submit" value="submit"><br>
</form>
