<% include partials/header %>

<% if (errors) {%>
<ul>
	<%errors.forEach(function (error) {%>
		<li><%= error.msg  %></li>
	<% })%>
</ul>
<%} %>
<% include partials/form %>

<div id = "person">
<ul>
<% users.forEach(function (user) { %>
	<li><%= user.firstName  %>&nbsp; <%= user.lastName  %> <a href="#" class="deleteUser" data-id=<%= user._id  %>>delete</a></li>
<% }) %>
</ul>
</div>
<% include partials/footer  %>